/* NAVBAR */
*{
    font-size: 0.8rem !important;
}

.number{
    text-align: center !important;
    color: #fff !important;
    display: inline-block !important;
    padding:0px 5px;
    font-size: 0.8rem !important;
    top: 9px;
    right:2px;
}
.left-section img{
    width: 100% !important;

}

.right-section .col-12{
padding: 0 !important; ;
    margin: 0 !important;
    box-sizing: border-box !important;
    margin-bottom: 1rem !important;
}

.btn{
    width: 100% !important;
    
}

h5{
    font-size: 1rem !important;
}